//
// Display types
// -------------------------

.o-displayBlock {
  display: block;
}

.o-displayInline {
  display: inline;
}

// 1. Fix for Firefox bug: an image styled `max-width:100%` within an
// inline-block will display at its default size, and not limit its width to
// 100% of an ancestral container.

.o-displayInlineBlock {
  display: inline-block;
  max-width: 100%; // 1 //
}

.o-displayTable {
  display: table;
}

.o-displayTableCell {
  display: table-cell;
}

.o-displayTableRow {
  display: table-row;
}