.o-fontWeight100 {
  font-weight: 100;
}

.o-fontWeight200 {
  font-weight: 200;
}

.o-fontWeight300 {
  font-weight: 300;
}

.o-fontWeight400 {
  font-weight: 400;
}

.o-fontWeight500 {
  font-weight: 500;
}

.o-fontWeight600 {
  font-weight: 600;
}

.o-fontWeight700 {
  font-weight: 700;
}

.o-fontWeight800 {
  font-weight: 800;
}

.o-fontWeight900 {
  font-weight: 900;
}